<div>
    <div></div>
    
    <div style="height: 100%; width: 100%; margin: 0 ; padding: 0 ">
        <p>
            Hi <%= username %><br />
        </p>
        <div>
            Verify Email
        </div>
        <div>Verify Link: 
        <a
            href="<%= verifyLink %>"
            style="font-weight: normal; line-height: 1.5em; text-align: center; text-decoration: none; color: #ffffff; display: block;"
        >
        </div>
    </div>

</div>