<div>
    <div></div>
    
    <div style="height: 100%; width: 100%; margin: 0 ; padding: 0 ">
        <p>
            Hi <%= customerUsername %><br />
        </p>
        <div>
            Your order ID <%= orderID %> process has begun 
        </div>
        </br>
        <div>
            <span> Farmer that started procces: <%= farmerUsername %></span>

        </div>
        </br>
        <div>
            You can track order status on your order profile or with this link
        </div>
    </div>

</div>