<div>
    <div></div>
    
    <div style="height: 100%; width: 100%; margin: 0 ; padding: 0 ">
        <p>
            Hi <%= farmerUsername %><br />
        </p>
        <div>
            You've got order request from the <%= customerUsername %>
            <span> Email: <%= receiverEmail %></span>
        </div>
        </br>
        <div> Order Link:
        <a
            href="<%= orderUrl %>"
            style="font-weight: normal; line-height: 1.5em; text-align: center; text-decoration: none; color: #ffffff; display: block;"
        >
        </div>
    </div>

</div>