# #npm registry names must be lowercase
# @veckovn:registry=https://npm.pkg.github.com/veckovn
# //npm.pkg.github.com/:_authToken=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
# #create token on windows machine: set NPM_TOKEN='token' -> token from 'secret.md' file